[submodule "files/awesome/awesome-copycats"]
	path = hm/files/awesome/awesome-copycats
	url = https://github.com/lcpz/awesome-copycats.git
[submodule "files/awesome/lain"]
	path = hm/files/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "files/awesome/freedesktop"]
	path = hm/files/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
